  /* img{
    width: 150px;
    height: 100px;
  }

  .Parent{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    align-items: center ;
    align-content: center;
  }

  .leftSide{
    background-color: rgb(154, 48, 48);
    height: 100vh;
    width: 30vw;
    order: 1;
  }
  .formInput{
    background-color: #6E7AAE;
    height: 100vh;
    width: 70vw;
    order: 2;
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(8, 1fr);
    padding-left: 40px;
    padding-right: 40px;
  }

  .fName, .lName, .email, .password, .create{
    align-self: center;
  }
  .form-control{
    color: #C9C9C9;
    background-color: #6E7AAE;
  }
  label::after {
    display: none;
  }
  

  .create{
    grid-column-start: 2;
    grid-column: span 2;
  }

  .form-floating{
    grid-column: span 1;
  }

  .email{
    grid-column: span 2;
  }

  .password{
    grid-column: span 2;
  }

  .btn-submit{
    width: 100%;
    background-color: #DFB97F;
  }
  
  footer{
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
  }
  .submit{
    align-self: center;
    width: 100%;
    grid-column: span 2;
  }

  .hlign{
    grid-column: span 2;
    align-self: center;
  }
  .or {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
 } 
 
 .or span { 
     background-color: #6E7AAE; 
     padding:0 20px; 
 }

  .signUp{
    grid-column: span 2;
    display: flex;
    gap: 40px;
    align-self: center;
    place-self: center;
  }

  .btn-sign{
    background-color: #6E7AAE;
    border-color: white;

  } */